/* styles/features.module.css */

.featuresContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.feature {
    width: 15%;
    /* Adjust the width for wide screens */
    margin-bottom: 20px;
    padding: 10px;
    /* Smaller padding */
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

.featureIcon {
    font-size: 2rem;
    /* Smaller icon size */
    margin-bottom: 5px;
    /* Smaller margin */
    color:  rgb(6, 63, 68);

}

.featureTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    /* Smaller title font size */
    margin-bottom: 5px;
    /* Smaller margin */
    color:  rgb(6, 63, 68);
}
.featureDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    /* Smaller title font size */
    margin-bottom: 5px;
    /* Smaller margin */
}

/* Media query for screens up to 768px */

@media (max-width: 768px) {
    .featuresContainer {
        justify-content: space-around;
    }
    .feature {
        width: 90%;
        /* Two cards per row on screens up to 768px */
    }
}

.featuresHeader {
    text-align: center;
}